@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&display=swap|Lato:300,400,500,600,700|Poppins:400,500);
@import 'variables';

html{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}
body{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color:rgb(110,110,110);
    text-align: left;
    letter-spacing:0.5px;
    background-color:rgb(255,255,255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch
}
h1{font-size:55px;letter-spacing:5px;}
h2{font-size:45px;letter-spacing:3.5px;}
h3{font-size:35px;letter-spacing:2.5px;}
h4{font-size:28px;letter-spacing:2px;}
h5{font-size:20px;letter-spacing:1px;font-family: 'Raleway';}
p{font-size:16px;letter-spacing:0.5px;margin:0;color:rgb(110,110,110);}
h1,h2,h3,h4,h5{
    margin:0;
}
small{
    font-weight: lighter;
}
a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
img {
    vertical-align: middle;
    border-style: none;
}
button {
    border-radius: 2px;
    white-space: nowrap;
    cursor:pointer;
    -webkit-appearance: button;
}
input,
button,
select,
optgroup,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height:1.2;
    //outline: none;
    margin:2%;
    padding:1.5%;
}
input, textarea{
    outline: none;
    padding:0.2rem 0.3rem;
}
select {
    word-wrap: normal;
}
ul{
    li{
        font-family: 'Raleway', 'Roboto', sans-serif;
        font-weight:400;
        padding:3px;
        font-size:17px;
        line-height:1.3;
        letter-spacing:0px;
    }
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
textarea {
    overflow: auto;
    resize: none;
}
header{
    width: 100%;
    background-color:$white;
    position: fixed;
    top:0;
    transition:top 500ms;
    z-index:1000;
    border-bottom:solid 1px rgb(240,240,240);
}
.head-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    small{
        margin-left:20px;
    }
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:88%;
    padding-left: 6%;
    padding-right:6%;
    max-width:1600px;
    background-color:$white;
}
.header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 0px;
}
footer{
    background-color: $brand-green;
    color:white;
    border-top:solid 1px lightgray;
}
section{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
section:nth-child(odd){
    background-color:$white;
}
section:nth-child(2), section:nth-child(5), section:nth-child(7){
    background-color: $gray;
    background: linear-gradient(180deg, $gray,rgb(220,220,220));
    background: -moz-linear-gradient(180deg, $gray,rgb(220,220,220));
    background: -ms-linear-gradient(180deg, $gray,rgb(220,220,220));
    background: -o-linear-gradient(180deg, $gray,rgb(220,220,220));
}
.inr-content-wrap > .inr-section{
    display: flex;
    flex-direction: column;
    width:50%;
}

/*POSITIONAL*/
.content-wrap, .body-content-wrap, .container, .container-fluid , .content-stretch,
.algn-btm,.algn-cntr, .algn-left,  .content-fill, .content-section, .inr-content-section, .container-xl{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}
.wrap-start, .wrap-end,.wrap-middle, .wrap-space-between, .container-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
}
.content-wrap {
    width:100%;
}
.body-content-wrap{
    align-items: center;
    justify-content: flex-start;
    margin-top:110px;
    width:100%;
}
.content-padding{
    width:98%;
    padding-left:1%;
    padding-right:1%;
}
.pad-left-1{
    padding-left:1%;
}
.pad-right-1{
    padding-right:1%;
}
.container-row{
    width:98%;
    padding-left:1%;
    padding-right:1%;
}
.wrap-start{
    justify-content : flex-start;
}
.wrap-middle{
    justify-content: center;
}
.wrap-end{
    justify-content : flex-end;
}
.wrap-space-between{
    justify-content: space-between;
}
.wrap-stretch{
    justify-content : stretch;
}
.algn-top{
    align-items: flex-start;
}
.algn-cntr{
    align-items:center;
}
.algn-btm{
    align-items:flex-end;
}
.algn-base{
    align-items: baseline;
}
.algn-left{
    justify-content: flex-start;
}
.content-fill{
    justify-content:space-between;
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg
{
    width: 98%;
    padding:1%;
    margin-right: auto;
    margin-left: auto;
}
.content-section, .inr-content-section{
    margin-top:10px;
    width:98%;
    padding:1%;
}
.inr-content-section{
    margin-top:15px;
    width:100%;
    padding:0;
}
.container-xl{
    max-width: 1600px;
    width:100%;
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    width:50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.outr-content-wrap
{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.inr-content-wrap
{
    width:88%;
    padding-left:6%;
    padding-right:6%;
    padding-top:70px;
    padding-bottom:60px;
    max-width:1600px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

//STYLING
.title-name {
    font-family: 'Poppins', sans-serif;
    font-size:48px;
    font-weight:500;
    letter-spacing:3px;
}
.title-name:first-child{
    color:$brand-green;
}
.title-name:last-child{
    color:$brand-orange;
}
.invalid-feedback{
    color:$red;
    font-size:14px;
}
.page-links{
    margin-top:20px;
    padding-bottom:0px;
}
.page-link{
    font-family: "Raleway","Roboto", sans-serif;
    font-size:17px;
    font-weight:400;
    letter-spacing:0px;
    white-space: nowrap;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    & + & {
        margin-left:25px;
    }
    border-bottom:solid 2px transparent;
    padding-bottom:4px;

    &:hover{
        color:$brand-green;
        border-bottom:solid 2px $brand-green;
    }

    &-eng:hover{
        border-bottom-color: white;
    }
}

.section-header{
    font-family: 'Raleway',sans-serif;
    margin-top:20px;
    font-weight: 400;
    color:$brand-green;
    letter-spacing:1px;
}
.title-para{
    font-family:"Raleway",sans-serif;
    font-weight:normal;
    margin-top:20px;
    font-size:23px;
    line-height:1.6;
    letter-spacing:0.5px;
    width:100%;
    min-width:650px;
}
#vid-clip-wrap{
    z-index:0;
    position: absolute;
    max-width:1600px;
    width:88%;
    height: 600px;
    clip-path: polygon(43% 0, 100% 0, 100% 100%, 0 100%);
    background-color: rgb(240,240,240);
    opacity: 0.9;
    overflow: hidden;
}
#video-clip{
    width:100%;
    height:100%;
}
.page-a{
    color:rgb(140,140,140);
    background-color:transparent;
    border: none;
    margin: 0;
    padding: 7px;
    border-radius: 0;
    font-family:'Raleway',sans-serif;
    font-weight: 400;
    font-size:18px;

    &:hover{
    border-bottom:solid 2px $brand-orange;
    color:$brand-orange;
    }

    &-actv{
        font-family:'Raleway',sans-serif;
        font-weight: 400;
        border:none;
        border-bottom:solid 2px  $brand-green;
        margin: 0;
        padding: 7px;
        color:$brand-green;
        border-radius: 0;
        background-color: transparent;
        transition: border 2s ease-in;
        font-size:18px;
    }
}
.page-a-eng:hover{
    color:$brand-green;
    border-bottom-color: $brand-green;
}
.page-a-actv-eng{
    color:#E76E0F;
    border-bottom-color: #E76E0F;
}
.display-link{
    text-decoration:underline;
    color:rgb(30,100,250);
}
.sub-head{
    font-size:30px;
    font-weight: 400;
    font-family:'Raleway','Roboto', sans-serif;
    margin-top:5px;
    white-space: nowrap;
    letter-spacing:1px;
}
.section-para{
    font-family:'Roboto',sans-serif;
    margin-top:35px;
    font-weight:300;
    width:88%;
    max-width:900px;
    font-size:18px;
    line-height:1.4;
    letter-spacing:0.5px;
}
.cap-col-rec{
    font-family: 'Raleway',sans-serif;
    font-size:45px;
    letter-spacing:2px;
    font-weight:500;
    white-space: nowrap;
    color:$brand-orange;

    & + & {
        margin-left:12px;
    }
}
.cap-col-rec:nth-child(1), .cap-col-rec:nth-child(3){
    color:$brand-green;
}
.act-btn{
    margin:60px 0;
    width:93%;
    min-width:330px;
    max-width:400px;
    padding:15px 20px;
    border:solid 1px $brand-green;
    background: transparent;
    color:$brand-green;
    outline:none;
    text-align: center;
}
.act-btn:hover{
    border-color: #2FA008;
    color: #2FA008;
    background-color:rgb(240,240,240);
}
.act-btn:active{
    background-color: $brand-green;
    color: white;
    border-color: $brand-green;
}
.call-us-p{
    width:98%;
    max-width:500px;
    font-size:33px;
    margin-top:20px;
    small{
        font-size:20px;
    }
}
.form{
    width:100%;
    display: flex;
    flex-direction: column;

    &-stndrd{

        max-width:500px;

        h5 {
            padding:20px;
            padding-left:0;
            font-weight:400;
        }

        label{
            letter-spacing:0px;
            small{
                color:red;
            }
        }

        input{
            margin: 0;
            margin-top: 4px;
            padding:10px;
            font-size:18px;
            color:rgb(90,90,90);
            border:solid 1px rgb(230,230,230);
        }
        input:focus{
            border-color: $brand-green;
        }

        button{
            margin:0;
            margin-top:20px;
            background-color: $brand-orange;
            color:white;
            padding:12px;
            border-radius:5px;
            border:solid 2px rgb(230,230,230);
            outline: none;

            &:hover{
                background-color: $dark-orange;
            }
            &:active{
                background-color:$bright-orange;
            }
        }
    }

    &-inpt-sec{
        display: flex;
        flex-direction: column;
        margin-bottom:20px;
        padding: 0;
    }

}

.form-resp-dv{
    margin:20px 0;
    padding:10px;
    text-align: center;
    color:white;
    border-left:solid 3px rgb(220,220,220);
    border-right:solid 3px rgb(220,220,220);

    &-success{
        background-image: linear-gradient(0deg, $brand-green, lightgreen);
    }
    &-failed{
        background-image: linear-gradient(0deg, $red, red);
    }
}
.head-cnt-dv{
    z-index:20;
    border-radius:20px;
    background-color: $brand-green;
    color:white;
    padding:6px 10px;
    font-weight:500;

    & + &{
        margin-left:10px;
    }

    &:hover{
        cursor:pointer;
        background-color: green;
    }

    &-eng{
        background-color: white;
    }
    &-eng:hover{
        cursor:pointer;
        background-color: rgb(240,240,240);
    }

}
.price-p{
    font-size:40px;
    margin-top:25px;
    color:#10912B;
}
.head-eng-a-dv{
    z-index:20;
    border-radius:20px;
    background-color: $brand-orange;
    color:white;
    padding:6px 10px;
    font-weight:500;
    margin-right:10px;
    letter-spacing:0px;

    &:hover{
        cursor:pointer;
        background-color: darkorange;
    }
}

.head-trap-a-dv{
    z-index:20;
    border-radius:20px;
    background-color: white;
    padding:6px 10px;
    font-weight:500;
    margin-right:10px;
    letter-spacing: 0px;

    &:hover{
        cursor:pointer;
        background-color:rgb(240,240,240);
    }
}
.ldnr-cnt-dv{
    margin-top:40px;
}
.mobile-links-nav{
    display: none;
    position: fixed;
    top:90vh;
    width:100%;
    z-index:1000;
    border-top:solid 1px rgb(240,240,240);
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    background-color:white;
    height:10vh;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 900px) {
    .inr-section{
        width:100%;
    }
    .section-para{
        width:95%;
        font-size:19px;
    }
    .title-name-hd-dv{
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    .call-us-p{
        margin-top:40px;
        font-size:27px;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 760px) {
    _::-webkit-full-page-media, _:future, :root .safari_only {
        padding-bottom: 65px; //resize
    }
    h1, h2,h3,h4,h4{
        letter-spacing:1px;
    }
    p{
        letter-spacing: 0.5px;
    }
    .title-para{
        font-family: 'Raleway',sans-serif;
        font-size:22px;
        min-width:550px;
        line-height:1.3;
        width:100%;
    }
    .cap-col-rec{
        letter-spacing:1px;
        font-size:27px;

        & + & {
            margin-left:5px;
        }
    }
    .section-header{
        font-size:31px;
    }
    .section-para{
        width:98%;
        font-size:18px;
        letter-spacing:0px;
    }
    .price-p{
        font-size:30px;
    }
    .ldnr-cnt-dv{
        margin-top:10px;
    }
}
@media only screen and (max-width: 700px) {
    .page-links{
        display:none;
    }
    .mobile-links-nav{
        display:flex;
    }
    .footer > div > div > div{padding-bottom:200px;}
}
@media only screen and (max-width: 550px) {
    .title-name{
        font-size:37px;
        letter-spacing:1px;
    }
    .ldnr-cnt-dv{
        margin-top:-20px;
    }
    .title-para{
        font-size:21px;
        min-width:450px;
        width:100%;
        line-height:1.3;
    }
    .cap-col-rec{
        letter-spacing:0.5px;
        font-size:26px;
    }
    .head-eng-a-dv{
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .title-para{
        font-size:20px;
        min-width:300px;
        width:100%;
    }
}
